.mainArea 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spellCardArea
{
    /* flex parent styles */
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px;

    /* Other styles */
    padding: 2em 4em;
    max-width: 120em;
}

.spellGroup
{
    /* flex parent styles */
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* flex child styles */
    flex: 0 0 30em; 
}

.spellCard
{

}