:root {
  --animation-time: 0.5s;
  --animation-type: ease;
}

body {
  margin: 0;
  padding: 0;

  background-color: hsl(210, 17%, 93%);
}

.mainArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: rem(80px);
  margin-bottom: rem(200px);
  padding: 0% 8%;
}

.spellCardArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.appArea {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spellCardSmall {
  width: 20em;
  position: relative;
}

.spellContextButton {
  position: absolute;
  top: 8px; /* Adjust as needed */
  right: 8px; /* Adjust as needed */
  display: none; /* Initially hidden */
  height: 20px;
  width: 20px;
  padding: 0px;
}

.spellCardSmall:hover .spellContextButton {
  display: block; /* Show button on hover */
}

.spellContextButton:hover {
  background-color: var(--mantine-color-green-6);
  border-color: var(--mantine-color-green-6);

  .spellContextButtonIcon {
    fill: white;
    stroke: white;
  }
}

.spellContextButtonIcon {
  height: 16px;
  width: 16px;
}

.spellCardLarge {
  width: 20em;
  height: 20em;
  position: relative;
}

.smallCardh1 {
  flex-shrink: 0;
}

.smallCardh2 {
  flex-shrink: 1;
}

.smallCardTags {
  padding-top: 10px;
}

.header {
  width: 100%;
  align-items: center;
  padding-left: 0.5em;
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: #dbe4ff;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}
