:root {
  --animation-time: 0.5s;
  --animation-type: ease;
}

body {
  margin: 0;
  padding: 0;
}

.mainArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(40px);
  transition: width 0.5s;
}

.spellCardArea {
  bottom: 0;
  padding: 0% 8%;
  overflow-y: scroll;
}

.appArea {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spellGroup {
  /* flex parent styles */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;

  /* flex child styles */
  flex: 0 0 30em;

  padding: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 40px;
  margin-bottom: 40px;

  border-style: solid;
  border: black 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
}

.spellGroup .title {
  flex-basis: 100%;
}

.spellCardSmall {
  width: 20em;
  position: relative;
}

.spellCardLarge {
  width: 20em;
  height: 20em;
  position: relative;
}

.smallCardh1 {
  flex-shrink: 0;
}

.smallCardh2 {
  flex-shrink: 1;
}

.smallCardTags {
  padding-top: 10px;
}

.header {
  width: 100%;
  align-items: center;
  padding-left: 0.5em;
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: #dbe4ff;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}
