.root {
  --chip-size: 30px;
  --chip-icon-size: 0px;
  --chip-checked-padding: 5px !important;
  --chip-padding: 5px !important;
  --chip-radius: 6px !important;
}

.root svg {
  height: 20px;
  width: 20px;
}

.root label span {
  display: none;
}

.iconWrapper {
  height: 0;
  width: 0;
}

.label:not([data-checked]) {
  background-color: white !important;
  border-color: var(--chip-bg);
  color: var(--chip-bg);
}
