.root:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.root {
  overflow: hidden;
}

.prepared {
  background-color: white;
}

.known {
  background-color: #ebeaea;
}
